/* Styles for everything
================================================== */

body {
    color: #fff;
    font-family: "Comic Sans MS";
    background-image: -webkit-linear-gradient(-90deg, rgb(49, 150, 229) 0%, rgb(147, 92, 198) 100%);
    background-image:    -moz-linear-gradient(-90deg, rgb(49, 150, 229) 0%, rgb(147, 92, 198) 100%);
    padding-bottom: 40px;
}

a {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #ddd;
}

.strapline {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 28px;
    font-family: "Comic Sans MS";
    font-weight: 300;
}


h2 {
    border-bottom: 1px solid rgba(255,255,255,0.5);
    line-height: 1.5em;
    margin-bottom: 10px;
}

h1 {
    width: 90%;
    margin: 0.4em auto 0.5em auto;
    text-align: center;
    font-weight: normal;
    font-size: 144px;
    letter-spacing: -8px;
    line-height: 0.8em;
    text-indent: -0.6em;
    color: #fff;

    -webkit-transform: skew(-5deg,-10deg);
       -moz-transform: skew(-5deg,-10deg);
            transform: skew(-5deg,-10deg);
}



ol {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 170px;
}

ol li {
    padding: 0;
    margin: 5px 0;
    height: 30px;
}

ol li a {
    display: block;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}



.image-cropper {
    height: 30px;
    width: 30px;
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
}

.james {
    display: block;
}

.aitken {
    display: block;
    margin-left: 0.8em;
}
