/* Styles for everything
================================================== */


img {
    max-width: 100%;
}

body {
    color: #ddd;
    text-shadow: rgba(0, 0, 0, 0.1) 0 2px 0;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    letter-spacing: 1px;
    font-weight: 200;
    background-image: radial-gradient(circle farthest-side at 100% 100%, rgb(29, 43, 100) 80%, rgb(14, 21, 58) 100%);
    font-size: 18px;
    line-height: 1.5em;
}


a {
    font-weight: normal;
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #ddd;
}


.container {
    padding: 0;
}



.strapline {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 36px;
    line-height: 1.5em;
    font-weight: 200;
}


h2 {
/*    outline: 1px solid red;*/
/*    border-bottom: 1px solid rgba(255,255,255,0.5);*/
    line-height: 2em;
    margin: 0;
    font-size: 36px;
    font-weight: 200;
}






h1 {
    text-shadow: none;
    color: #fff;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-weight: normal;
    font-size: 160px;
    letter-spacing: -8px;
    line-height: 0.8em;
    text-indent: -0.6em;
    color: #fff;
    text-rendering: optimizeLegibility;

    margin: 0 auto 80px auto;
    opacity: 1;

    -webkit-transform: skew(-5deg,-10deg);
       -moz-transform: skew(-5deg,-10deg);
            transform: skew(-5deg,-10deg);
}



.recent-tracks {
    list-style: none;
    padding: 0;
    margin: 0;
}

.recent-tracks li {
    padding: 0;
    margin: 0 0 10px 0;
    height: 40px;
}

.recent-tracks li a {
    display: block;
    height: 40px;
    margin: 0;
}


.recent-tracks .track-image {
    height: 40px;
    width: 40px;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}



.james {
    display: block;
}

.aitken {
    display: block;
    margin-left: 0.8em;
}



.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}





/* Skrollr default things */
header {
    position: relative;
    margin: 80px 0 80px 0;
}


/* Main content */
/* --------------------------------------------------- */

.main-content {
    padding-top: 40px;
}


hr {
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    width: 100%;
}



/* Individual sections */
/* --------------------------------------------------- */

section {
    float: left;
    overflow: hidden;
    width: 100%;
    padding: 20px;
    position: relative;
}



.daft-cow {
    max-width: 150px;
    margin: 0 auto;
    display: block;
    padding: 25px;
    border: 2px solid white;
    background-color: rgba(255,255,255,0.1);
    border-radius: 125px;
}








/* Navigation */
/* --------------------------------------------------- */

nav {
    margin-bottom: 40px;
}
nav, nav ul {
    height: 40px;
}

nav ul {
    width: 250px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

nav ul li {
    float: left;
    margin: 0 5px;
}

nav ul li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 32px;
    text-align: center;
}






/* Media Queries */
/* --------------------------------------------------- */

@media (min-width: 768px) { 
    .container {
        padding: 0 15px;
    }

    section {
        height: 360px;
        padding: 5px 20px 0 20px;
    }

    hr { width: 680px; }
    .col-1 { width: 360px; }
    .col-2 { width: 720px; }
}

@media (min-width: 992px) { 
    .container {
        padding: 0 15px;
    }

    section {
        height: 313px;
        padding: 5px 20px 0 20px;
    }

    hr { width: 899px; }
    .col-1 { width: 313px; }
    .col-2 { width: 626px; }
}

@media (min-width: 1200px) { 
    .container {
        width: 1125px;
        padding: 0 15px;
    }

    section {
        height: 365px;
        padding: 5px 20px 0 20px;
    }

    hr { width: 1055px; }
    .col-1 { width: 365px; }
    .col-2 { width: 730px; }
}



/* Clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}